html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;	
}

body {
/* 	background: #232a2d; */
/* 	background: #3276B1; */
/* 	background: #597E8E;	 */
	background: #FFF;		
}

html {
	overflow-y: scroll;
	/* prevents scrollbar from repositioning web page */
}

i { margin-right:10px; }

header { 
	width: 100%; 
	height: 60px;
	color: #fff;
/* 	border-bottom: 1px dashed #7699A8; */
	line-height: 60px; 
	margin-bottom: 20px;
/* 	background: #3276B1; */
/* 	background: #597E8E;	 */
/* 	background: #363231; */
 	background:#3997AD;   
	font-family: effra-light;
}

header .logo { 
	width: 300px;  
	height: 70px; 
	border: 0px solid #ff0; 
	text-align: center; 
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	font-family: Graduate;
	font-weight:bold;
	letter-spacing:2px;
	text-transform: lowercase;
	}

header .search { margin: 0 60px 0 0; width: 600px; height: 50px; border: 0px solid #ff0;}
header .search input { font-size: 16px; height: 35px; display: table-cell; vertical-align: middle; background: none; color: #fff; border: 1px solid #fff; }
header .search input::-webkit-input-placeholder {  color: #fff; }
 .right-inner-addon {
    margin-top: 13px;
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    height: 30px;
    padding: 10px 12px;
    pointer-events: none;
    border: 0px solid #fff; 
}
header .login { text-align: left;  height: 70px; border: 0px solid #ff0;  letter-spacing: 1px; font-size: 15px; }
header .login i { margin: 0 5px 0 5px; }
header .login a { color: #fff; text-decoration: none; }
header .login a:hover{ color: #FFC02F;}

footer {
	width: 100%;
	height: 50px; 
	border: 0px solid yellow;
	line-height: 50px;
	font-size: 12px;
	color: #000;
	text-align: center;
	clear: both; 
	background: #FFF;
	
}	
footer a { color: #43DAAD; letter-spacing: 1px;  text-transform: uppercase; font-weight: bold; }
footer a:hover { color: #43DAAD; text-decoration: underline; }

#container {border: 0px solid #fff; height: 710px; }
#container .col-md-5 { width: 620px; }
#map_canvas, #map_leaflet { border: 1px solid red; width: 550px; height: 710px; margin: 0 0 0 30px;}

#container #content { width: 660px; border: 0px solid red; height: 710px; margin: 0; padding: 0;	 }

#content button { width: 220px; border-radius: 0;  }


ul.floating-tab-menu {	 
	 position: fixed;
     right: 0;
   	 top: 100px;   
     width: auto;        
	 background: none;
     overflow: hidden;
     border: 1px solid blue;
/*      margin: 0 110px 0 0;   */
  	 padding: 0;
}

ul.floating-tab-menu li {
	 padding:10px;
	 margin: 0 0 10px 0 ;  
	 display: block;
     width: 190px;     
     height:70px;     
     line-height:70px;    
	 background-color: #70567C;   
     -webkit-border-radius: 4px 0 0 4px;
	 -moz-border-radius: 4px 0 0 4px;
	 border-radius: 4px 0 0 4px;
	 text-align: center; 
	 text-decoration: none;
	 font-family: effra-light;
	 border: 1px solid orange;
	
}

ul.floating-tab-menu li:first-child {
	 background-color: #1FBBA6;   
}

/* .floating-tab{ */
/* 	 padding:10px; */
/* 	 position: fixed; */
/*      right: 0; */
/*    	 top: 0; */
/*      display: block; */
/*      width: 190px;      */
/*      height:70px;   */
/*      line-height:70px;     */
/* 	 background: #70567C; */
/*      overflow: hidden; */
/*      color:#fff; */
/*      margin: 0 -110px 0 0; */
/*      -webkit-border-radius: 4px 0 0 4px; */
/* 	 -moz-border-radius: 4px 0 0 4px; */
/* 	 border-radius: 4px 0 0 4px; */
/* 	 text-align: center;  */
/* 	 text-decoration: none; */
/* 	 display:inline-block;	 */
/* 	 font-family: effra-light; */
/* } */



ul.floating-tab-menu li a { width: 300px; color:#fff;  display: inline-block;  border: 1px solid red; }
ul.floating-tab-menu li a:hover{ color: #fff; text-decoration: none; }
ul.floating-tab-menu li a i { width:50px; line-height:50px; border:1px solid #ff0;  margin-right: 130px; float:left; }
ul.floating-tab-menu li a span {  
	font-family: effra-light;
	letter-spacing: 1px;
    text-transform:uppercase; 
    font-size: 14px; 
    width: 170px; 
    height:50px;  
    line-height:20px; 
    border: 1px solid yellow; 
    display:table-cell; 
    vertical-align: middle;   
} 



table.table-resumen { border: none; width: 510px; margin: 0 auto; }
table.table-resumen tbody td:first-child { text-align: right;  width: 140px; }

table.table-resumen tbody td:last-child { text-align: center; }
table.table-resumen tbody td { border: 0px solid #000; font-size: 22px; width: 170px; text-align: center;  height: 45px; line-height: 45px;  }
table.table-resumen tbody tr {  border-bottom: 1px dashed #ccc; }
table.table-resumen tbody tr:last-child { border-bottom: none; }



@font-face{
	font-family: "sayglyphs";
	src: url("../font/sayglyphs-webfont.eot");
	src: url("../font/sayglyphs-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../font/sayglyphs-webfont.woff") format("woff"),
		 url("../font/sayglyphs-webfont.ttf") format("truetype"),
		 url("../font/sayglyphs-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "effra-light";
	src: url("../font/effra-light.eot");
	src: url("../font/effra-light.eot?#iefix") format("embedded-opentype"),
		 url("../font/effra-light.woff") format("woff"),
	     url("../font/effra-light.svg") format("svg");
	font-weight:100;
	font-style:normal;
}
@font-face{
	font-family: "effra-bold";
	src: url("../font/effra-bold.eot");
	src: url("../font/effra-bold.eot?#iefix") format("embedded-opentype"),
	     url("../font/effra-bold.woff") format("woff"),
		 url("../font/effra-bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}



.info {
	width: 250px;
	padding: 6px 8px;
	font: 13px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	color: #333;
}
		
.info h4 {
	margin: 0 0 5px;
	color: #333;
}

.leaflet-control-layers-group-name {
  	font-weight: bold;
  	margin-bottom: .2em;
  	display: block;
}

.leaflet-control-layers-group {
  	margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  	padding-left: .5em;
}

.leaflet-control-layers-group label span {
	font-weight: normal;
}
  

/***** polymaps compass **/

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}




