html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;	
}

body {
/* 	background: #232a2d; */
/* 	background: #3276B1; */
/* 	background: #597E8E;	 */
	background: #FFF;		
}

html {
	overflow-y: scroll;
	/* prevents scrollbar from repositioning web page */
}

i { margin-right:10px; }

header { 
	width: 100%; 
	height: 60px;
	color: #fff;
	border: 0px solid #000;
	line-height: 60px; 
	margin: 0 0 30px 0;
/* 	background: #3276B1; */
/* 	background: #597E8E;	 */
/* 	background: #363231; */
 	background:#3997AD;   
	font-family: effra-light;
	
}

header .row { margin: 0; }

header .row .logo { 
	height: inherit; 
	border: 0px solid #ff0; 
	text-align: left; 
	color: #fff;
	text-shadow: none;
	font-size: 24px;
	font-family: Graduate;
	font-weight:bold;
	letter-spacing:2px;
	text-transform: lowercase;
	margin-left: 2%;
	padding: 0; 
	}

header .row .search { margin: 0 60px 0 0; width: 600px; height: 50px; border: 0px solid #ff0;}
header .row .search input { font-size: 16px; height: 35px; display: table-cell; vertical-align: middle; background: none; color: #fff; border: 1px solid #fff; }
header .row .search input::-webkit-input-placeholder {  color: #fff; }
 .right-inner-addon {
    margin-top: 13px;
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    height: 30px;
    padding: 10px 12px;
    pointer-events: none;
    border: 0px solid #fff; 
}
header .row .login { text-transform: uppercase; padding: 0; text-align: right; margin-right: 2%;  height: inherit; border: 0px solid #ff0;  letter-spacing: 1px; font-size: 15px; }
header .row .login i { margin: 0 5px 0 5px; }
header .row .login a { color: #fff; text-decoration: none; }
header .row .login a:hover{ color: #FFC02F;}

footer {
	width: 100%;
	height: 50px; 
	border: 0px solid yellow;
	line-height: 50px;
	font-size: 12px;
	color: #000;
	text-align: center;
	clear: both; 
	background: #FFF;
	
}	
footer a { color: #43DAAD; letter-spacing: 1px;  text-transform: uppercase; font-weight: bold; }
footer a:hover { color: #43DAAD; text-decoration: underline; }

#container { border: 0px solid #000; height: 710px; padding: 0; margin: 0;}
#container .col-md-5 { }

#container .row { margin: 0; padding: 0; }
#map_canvas, #map_leaflet { border: 0px solid red; width: 100%; height: 710px; margin: 0 2% 0 2%;}

#container #content { width: 100%; border: 0px solid red; height: 710px;  }
#myTab.nav-tabs { width: auto;  margin: 0; }
#myTab.nav-tabs > li > a { width: 200px;  font-weight: normal;  background-color: #ca4842; border-radius: 0;}
#myTab.nav-tabs > li > a:hover { width: 200px;  font-weight: normal;  background-color: #3276b1; border-radius: 0;}
#myTab.nav-tabs > li.active > a,
#myTab.nav-tabs > li.active > a:hover, 
#myTab.nav-tabs > li.active > a:focus { font-weight: normal; border-radius: 0;  background-color: #3276b1; color: #fff;}
#myTabContent.tab-content  {border: 0px solid grey; padding:0 0 0 10px; }

.selectedProvince { font-weight: bold;  }

ul.floating-tab-menu {	 
	 position: fixed;
     right: 0;
   	 top: 14%;   
     width: 295px;        
	 background: none;
     overflow: hidden;
     border: 0px solid blue;
     margin: 0 -100px 0 0;  
  	 padding: 0;	
}
ul.floating-tab-menu li {
	 padding:10px;
	 margin: 0 0 10px 0 ;  
	 display: block;
     width: 170px;     
     height:70px;     
     line-height:70px;    
	 background-color: #70567C;   
     -webkit-border-radius: 4px 0 0 4px;
	 -moz-border-radius: 4px 0 0 4px;
	 border-radius: 4px 0 0 4px;
	 text-align: center; 
	 text-decoration: none;
	 font-family: effra-light;
	 border: 0px solid orange;
	 float: right;
}
ul.floating-tab-menu li:first-child { background-color: #1FBBA6; }
ul.floating-tab-menu li a { width: 160px; color:#fff;  display: inline-block;  border: 0px solid red; }
ul.floating-tab-menu li a:hover{ color: #fff; text-decoration: none; }
ul.floating-tab-menu li a i { width:50px; height: 50px; line-height:50px; border:0px solid #ff0;   float:left; }
ul.floating-tab-menu li a span {  
	font-family: effra-light;
	letter-spacing: 1px;
    text-transform:uppercase; 
    font-size: 14px; 
    width: 170px; 
    height:50px;  
    line-height:20px; 
    border: 0px solid yellow; 
    display:table-cell; 
    vertical-align: middle;   
} 

table.table-resumen { border: 0px solid red; width: 600px; margin: 0; }
table.table-resumen tr td { border: none;  }
/* table.table-resumen tr:last-child { border-bottom: none;  } */
table.table-resumen td:first-child { vertical-align: middle; width:200px }
/* table.table-resumen td:last-child {  } */
table.table-resumen td { 
	font-size: 20px; 
	width: 150px; 
	text-align: left;  
	height: 40px; 
	line-height: 40px;   border: 1px solid red;}
table.table-resumen td span { display: block; }



.open { color: #d2322d; }
.closed { color: #999; }
.solved { color: #47a447; }
.acknowledged { color: #3276b1; }
.inprogress { color: #ed9c28; }
.important { color: #39b3d7; }

@font-face{
	font-family: "sayglyphs";
	src: url("../font/sayglyphs-webfont.eot");
	src: url("../font/sayglyphs-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../font/sayglyphs-webfont.woff") format("woff"),
		 url("../font/sayglyphs-webfont.ttf") format("truetype"),
		 url("../font/sayglyphs-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "effra-light";
	src: url("../font/effra-light.eot");
	src: url("../font/effra-light.eot?#iefix") format("embedded-opentype"),
		 url("../font/effra-light.woff") format("woff"),
	     url("../font/effra-light.svg") format("svg");
	font-weight:100;
	font-style:normal;
}
@font-face{
	font-family: "effra-bold";
	src: url("../font/effra-bold.eot");
	src: url("../font/effra-bold.eot?#iefix") format("embedded-opentype"),
	     url("../font/effra-bold.woff") format("woff"),
		 url("../font/effra-bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}



.info {
	position: absolute;
	left: -270px;
	width: 250px;
	padding: 6px 8px;
	font: 13px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	color: #333;
}
		
.info h4 {
	margin: 0 0 5px;
	color: #333;
}

.leaflet-control-layers-group-name {
  	font-weight: bold;
  	margin-bottom: .2em;
  	display: block;
}

.leaflet-control-layers-group {
  	margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  	padding-left: .5em;
}

.leaflet-control-layers-group label span {
	font-weight: normal;
}
  

/***** polymaps compass **/

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}




