.widget {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Arial';
	overflow: hidden;
}

.widget-container {
	margin: 0 auto;
	border: 0px solid red;
}

.widget-tabs { }

.widget-body {	
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;	
	background: none;
}

.widget-row {
	border-bottom: 1px dashed #CCC;	
	padding: 20px; 
}

.widget-row:last-child { 
	border-bottom: none; 
}

.widget-row:hover { 
	background-color: #F1F1F1; 
}

.widget-row .title {	
	font-size: 16px;
	font-weight: bold;
	display: block;
	color: #0C86AF; 
	-o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}

.widget-row .title a { 	
	color: #0C86AF; 
	text-decoration: none;
}

.widget-row .title a:hover { 
	text-decoration: underline; 
}

.widget-row .address {
	font-size: 10px;
	text-transform:uppercase;
	display: block; 
}

.widget-row .row { 
	height: 20px; 
	margin-top: 10px;
	line-height: 20px; 
	width: 100%;
	border: none;
}

.widget-row .row .date {
	font-size: 10px; 
	color: grey;
	display: inline; 	
}

.widget-row .row .status {
	width: 100px;
	font-size: 11px; 	
	font-weight: bold;
	text-align: center;
	display: inline-block; 
	height: 20px;
	line-height: 20px;
	color: #fff;
	float: right;	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.widget-footer { 
	height: 15px; 
	background-color: #0C86AF;
	line-height: 15px;
	padding: 5px 10px 5px 10px; 
	color: #fff;
	border-right: 1px solid #527CAC;
	border-left: 1px solid #527CAC;
	border-bottom: 1px solid #527CAC;
}

.widget-footer .logo { 
	font-size: 11px;
	text-align: center;
}

.widget-footer .logo a {
	color: #fff;
	text-decoration: none; 
}

.widget-footer .logo a:hover {
	color: #000000;
	text-decoration: none;
}

.widget-refresh {
	height: 30px; 
	line-height: 30px;
	display: block;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	text-align: right;
}

.widget-refresh a { color: #333; font-size: 11px; text-transform: uppercase; margin-right: 15px; }


.widget-error { 	
	padding: 10px; 
	width:auto;
	height: 70px; 
	font-size: 13px;
}

.widget-loader {
	background: none; 
	height: 70px; 
	line-height: 70px;
	text-align: center;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/****************************************/

.widgetContainer {
	border: 0px solid #000; 
	backgorund-color: #40C0ED; 
	line-height: 25px;
	margin: 0 auto;
}
.widgetHeader {	
	height: 25px; 
	background-color: #527CAC;
	padding: 5px 10px 5px 10px; 
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-top: 1px solid #527CAC;
	border-right: 1px solid #527CAC;
	border-left: 1px solid #527CAC;
}

.widgetHeader a { 
	color: #fff; 
	text-decoration: none; 
}

.widgetHeader a img {
	border: 1px solid #fff;
	float: right;
	background: #fff;
}

.widgetHeader a:hover{
	color: #fff;
	text-decoration: none;
}

.widgetBody {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
/* 	border-top: 1px solid #ccc; */
}

.widgetIssues {
	height: auto;	
}

.widgetError { 	
	padding: 10px; 
	width:auto;
	height: 70px; 
	font-size: 13px;
}

.widgetLoader {
	background: #F1F1F1; 
	height: 70px; 
	line-height: 70px;
	text-align: center;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.widgetRow {
/* 	min-height: 70px;  */
/* 	max-height: 100px; */
	border-bottom: 1px dashed #ccc;	
	padding: 15px; 
	width: 100%;
	
}

.widgetRow a { 
	
	color: #0C86AF; 
	text-decoration: none;
}

.widgetRow a:hover { 
	text-decoration: underline; 
}

.widgetRow:last-child { 
	border-bottom: none; 
}

.widgetRow:hover { 
	background-color: #F1F1F1; 
}

.widgetRowTitle {	
	font-size: 15px;
	font-weight: bold;
/* 	padding-bottom: 5px; */
/* 	display: block;  */
	-o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}

.widgetRowLocation {
	font-size: 10px;
	text-transform:uppercase;
	display: block; 
}
.widgetRowDate {
	font-size: 10px; 
	color: grey;
/* 	display: block;  */
/* 	height: 25px; */
	display: inline; 
	
}

.widgetRowStatus {
	width: 100px;
	font-size: 11px; 	
	font-weight: bold;
	text-align: center;
	display: inline-block; 
	height: 20px;
	line-height: 20px;
	color: #fff;
	float: right;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.row { border: 1px solid #000; height: 20px; line-height: 20px; display: block; width: 450px;}
.widgetFooter { 
	height: 15px; 
	background-color: #0C86AF;
	line-height: 15px;
	padding: 5px 10px 5px 10px; 
	color: #fff;
	border-right: 1px solid #527CAC;
	border-left: 1px solid #527CAC;
	border-bottom: 1px solid #527CAC;
}

.widgetLogo { 
	font-size: 11px;
	text-align: center;
}

.widgetLogo a {
	color: #fff;
	text-decoration: none; 
}

.widgetLogo a:hover {
	color: #40C0ED;
	text-decoration: none;
}

.widgetRefresh  i[class^="icon-"] {  
	vertical-align: top; 
	border: 0px solid red; 
}


ul.nav.nav-tabs {  margin:0; }
ul.nav.nav-tabs li { margin:0; margin-bottom: -1px; }
ul.nav.nav-tabs li a { text-transform: uppercase; font-size: 11px; width: 80px; height: 30px;line-height: 30px; text-align: center;  }
ul.nav.nav-tabs li.active { border-bottom: none;  	 }
ul.nav.nav-tabs li.active a {
/* 	border: none; */
	color: #000;
	font-weight: bold; 
	border-radius: 0; 
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;  
	background: #FFF; 
}
ul.nav.nav-tabs li.active:hover a { 
/* 	border: none;  */
/* 	border: 1px solid #FFF;   */
}
 
ul.nav.nav-tabs li:not(.active) a { 
	color: #FFF; 
	border-radius: 0; 
	background: #0C86AF; 
	border-bottom: none;  	
}

ul.nav.nav-tabs li:not(.active):hover a {
/* 	border-bottom: 3px solid #166BEC; */
	background-color: #DDD;
	color: #333;
	cursor: pointer;
}
